{% extends "auth/slayout.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div>
  <div>
    <legend>Sign in</legend>

    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ form_field(form.username, autofocus=True, with_label=True) }}
      {{ form_field(form.password, with_label=True) }}
      <div>
      </div>
      <button type="submit" name="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>
{% endblock %}

