{% extends "auth/slayout.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div>
  <div>
    <legend>Sign in</legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
        <div>
          {% for error in errors %}
            {{ error }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% if form.errors %}
      <div>
      {% for field, error in form.errors.items() %}
        {% for e in error %}
          {{ e }}<br>
        {% endfor %}
      {% endfor %}
      </div>
    {% endif %}
    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ form_field(form.username, autofocus=True, with_label=True) }}
      {{ form_field(form.password, with_label=True) }}
      <div>
      </div>
      <button type="submit" name="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>
{% endblock %}

