{% extends "vehicles/slayout.html" %}

{% block title %}Record - {{ theRecord.vehicle }} - {{ theRecord.date }}{% endblock %}

{% block js %}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="col-md-12" id="record">
  <h1>Service Record <small>{{ theRecord.date }}</small></h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <tr><th>Vehicle:</th><td>{{ theRecord.year }} {{ theRecord.make }} {{ theRecord.model }}</td></tr>
      <tr><th>Miles:</th><td>{{ theRecord.miles }}</td></tr>
      <tr><th>Description:</th><td>{{ theRecord.description }} </td></tr>
    </table>
  </div>

  <h2>Photos</h2>
  {% if not theFiles %}
    <p>No photos associated with this record.</p>
  {% endif %}

  <div class="row">
    {% for aItem in theFiles %}
      <div class="col-md-4">
        <a href="{{ aItem }}"><img src="{{ aItem }}" class="img-responsive"></a>
      </div>
    {% endfor %}
  </div>

  <form action="{{ url_for("vehicles.specificRecord", theId=theRecord.id) }}" method="post" enctype="multipart/form-data">
    {{ form_field(theForm.csrf_token, hidden=True) }}
    {{ form_field(theForm.upload) }}
    <button class="btn btn-default" type="submit">Upload</button>
  </form>
</div>
{% endblock %}

