{% extends "vehicles/slayout.html" %}

{% block title %}Vehicle Service Records{% endblock %}

{% block css %}
<style>
  .clickable-row {
    cursor: pointer;
  }

  .description {
    white-space: pre;
  }
</style>
{% endblock %}

{% block js %}
<script>
  $(function() {
    {% if theForm.errors %}
      $("#newRecord").modal("show");
    {% endif %}
  });
</script>
{% endblock %}

{% block content %}
<div class="col-md-12" id="holder">
  <h1>Vehicle Service Records</h1>

  <button type="button" class="btn btn-primary" data-target="#newRecord" data-toggle="modal">New Entry</button>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 13%;">Date</th>
          <th style="width: 20%;">Vehicle</th>
          <th style="width: 10%;">Miles</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        {% for aRecord in theRecords %}
          <tr class="clickable-row" data-href="{{ url_for("vehicles.specificRecord", theId=aRecord.id) }}">
            <td>{{ aRecord.date }}</td>
            <td>{{ aRecord.vehicle }}</td>
            <td>{{ aRecord.miles }}</td>
            <td class="description">{{ aRecord.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newRecord" tabindex="-1" role="dialog" aria-labelledby="newRecordLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newRecordLabel">Add a New Record</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('vehicles.serviceRecord') }}">
          {{ theForm.csrf_token }}
          {{ form_field(theForm.date, with_label=True) }}
          {{ form_field(theForm.vehicle, with_label=True) }}
          {{ form_field(theForm.miles, with_label=True) }}
          {{ form_field(theForm.description, with_label=True) }}
          <button class="btn btn-default" type="submit">Submit</button
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

