__author__ = 'Milo'

"""
A config file for the application. Put config related things in here.

DO NOT COMMIT UNLESS ASKED.
"""

# Statement for enabling the development environment
DEBUG = True

# Define the application directory
import os
BASE_DIR = os.path.abspath(os.path.dirname(__file__))

# Application threads. A common general assumption is
# using 2 per available processor cores - to handle
# incoming requests using one and performing background
# operations using the other.
THREADS_PER_PAGE = 2

# Enable protection agains *Cross-site Request Forgery (CSRF)*
CSRF_ENABLED = True

HOST = "0.0.0.0"

# Define the database - we are working with
# SQLite for this example
SQLALCHEMY_DATABASE_URI = 'dburi'
SQLALCHEMY_BINDS = {
  "coolbind": "coolbinduri"
}
DATABASE_CONNECT_OPTIONS = {}

MAIL_SERVER = 'smtp.example.com'
#MAIL_PORT = 777
MAIL_USERNAME = 'mail@example.com'
MAIL_PASSWORD = 'password'
#MAIL_USE_TLS = True
#MAIL_USE_SSL = True
DEFAULT_MAIL_SENDER = 'sender@example.com'

SECRET_KEY = "secret key"
WTF_CSRF_SECRET_KEY = SECRET_KEY

