{% extends "personal/slayout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="col-sm-9">
  <h1>Contact</h1>
  <p>If you have any questions about the site including design choices or source code questions, shoot me an email with the form below or, if you prefer using your own email, then my address is on the right.</p>
  <form role="form" role="form" action="#" method="post">
    {{ theForm.csrf_token }}
    {{ form_field(theForm.name, with_label=True) }}
    {{ form_field(theForm.email, with_label=True) }}
    {{ form_field(theForm.message, with_label=True, rows="6") }}
    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>

<div class="col-sm-3">
  <div class="list-group">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-envelope"></span> Email</h4>
      <p class="list-group-item-text">
        <a href="mailto:milo@milogert.com">milo@milogert.com</a>
      </p>
    </div>

    <div class="list-group-item">
      <h4 class="list-group-item-heading"><i class="fa fa-facebook"></i> Facebook</h4>
      <p class="list-group-item-text">
        <a href="https://www.facebook.com/mitsu400">Milo Gertjejansen</a>
      </p>
    </div>

    <div class="list-group-item">
      <h4 class="list-group-item-heading"><i class="fa fa-github"></i> Github</h4>
      <p class="list-group-item-text">
        <a href="https://github.com/milogert">Milo Gertjejansen</a>
      </p>
    </div>

    {# <div class="list-group-item">
      <h4 class="list-group-item-heading">Phone</h4>
      <p class="list-group-item-text">
        <a href="tel:+1-952-412-5004">1-952-412-5004</a>
      </p>
    </div> #}
  </div>
</div>
{% endblock %}
