{% extends "personal/slayout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-12 col-xs-8">
        <h1>Welcome!</h1>
      </div>

      <div class="hidden-lg hidden-md hidden-sm col-xs-4">
        <img src="{{ cdn('img', 'personal/milo_gertjejansen.thumb.jpg') }}" class="img-thumbnail pull-right" style="max-height: 69px;">
      </div>
    </div>
  </div>

  

  <div class="col-sm-9">
    <p>I am Milo Gertjejansen, a graduate from Michigan Technological University with a Bachelors of Science in Computer Science.</p>

    <p>I am currently working at MediaBeacon, Inc.</p>

    <p>If you want to contact me, you can...</p>

    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('.contact') }}">Use my contact page</a>
      </div>

      <div class="col-md-6">
        <a class="btn btn-default btn-lg btn-block" href="mailto:milo@milogert.com">Email me directly at milo@milogert.com</a>
      </div>
    </div>

    <p></p>

    <p>If you would like to see my resume, you have a few options:</p>

    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('resume.index') }}">View it on the web</a>
      </div>

      <div class="col-md-4">
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('resume.generate') }}">View a PDF</a>
      </div>

      <div class="col-md-4">
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('static', filename='resume/resume.tex') }}">View the source</a>
      </div>
    </div>

    <p></p>

    <p>If you have any questions about my resume feel free to contact me.</p>

    <p>If you are interested in the source for this site, I am working on getting it up on GitHub, as I didn't start it there. In the interim, email me specific questions and I will answer them to the best of my ability.</p>
  </div>

  <div class="col-sm-3 hidden-xs">
    <img src="{{ cdn('img', 'personal/milo_gertjejansen.jpg') }}" class="img-responsive">
    <p class="text-muted">Me at the Minnesota State Fair enjoying a cob of corn.</p>
  </div>
{% endblock %}

