{% extends "throne_magic/slayout.html" %}

{% block title %}Throne Magic{% endblock %}

{% block content %}
<div class="col-md-12">
  <h2>Roles Selection Primer</h2>

  <p>These rules are to select roles, the core of Throne Magic.</p>

  <p>There are three ways to select roles.</p>

  <ol>
    <li>Basic selection: The King, the Usuerper, and their respective Bannerman are used. If there is an between 5 and 7 people playing, use the Dragon, the Barbarian, or the Wizard (respectively) as well.</li>
    <li>Drafting: The players draft the roles according to the rules presented <a href="/throne_magic/rules#Choosing_Role_Cards_for_the_Game">here</a>.</li>
    <li>Random: Roles are chosen according to drafting method, but all roles are chosen randomly from the pool currently available.</li>
  </ol>
</div>
{% endblock %}