/**
 * Custom css for bootstrap.
 */

.navbar {
  text-shadow: 0px 0px 10px black;
}

.navbar-header {
  height: 100%;
  vertical-align: middle;
}

.navbar-toggle {
  background-color: none;
  height: 4em;
  border: solid 2px #FFF !important;
}

.navbar-default .navbar-brand {
  color: white;
  height: 4em;
  line-height: 3em;
}

.navbar-nav li a {
  line-height: 4em;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: lightgray;
}

/** Dropdown menu. ***********************************************************/

/* Non-mobile bar. */
.dropdown-menu > li > a {
  color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: lightgray;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: lightgray;
}

/* Mobile bar. */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: lightgray;
}

/*****************************************************************************/

