.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: #777 1px solid;
  border-right: #777 1px solid;
}

.navbar-inverse .divider-vertical {
  border-right-color: #111111;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}